@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="card" style="margin:20px; padding:50px;">
    <h1>@ViewData["Title"]</h1>
    <p style="text-align:center"> You have successfully created an account. Now you can see a history of your orders. Click the Login button to login</p> 
   
</div>
